.dot-list__dot {
  height: 25px;
  width: 25px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-list__dot--left {
  background-color: maroon;
}

.dot-list__dot--center {
  background-color: moccasin;
}

.dot-list__dot--right {
  background-color: orange;
}

.main-text {
  background-color: gold;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
